<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
</head>

<b><a href="/">ChuckPad</a></b>

enables users to create, curate, and share code from music programming environments.
The project's goal is to promote education, stoke enthusiasm, reduce barriers to entry, and aid in discovery of content in apps like
<a href="http://audicle.cs.princeton.edu/mini/">MiniAudicle</a> and
<a href="https://ccrma.stanford.edu/~spencer/auraglyph/">Auraglyph</a>.<br>
<br>
<b>*Ji-hern system diagram goes here*</b><br>
<br>
ChuckPad's capabilities are best summarized by this <a href="https://github.com/markcerqueira/chuckpad-social-ios/blob/master/ChuckPadSocial.h">iOS header file</a>.<br>
<br>
The system consists of a:
<ul style="margin-top:4px; margin-bottom:0px;">
  <li>Sinatra/Ruby server - <a href="https://github.com/markcerqueira/chuckpad-social">chuckpad-social on GitHub</a></li>
  <li>iOS SDK - <a href="https://github.com/markcerqueira/chuckpad-social-ios">chuckpad-social-ios on GitHub</a></li>
  <li>Unit tests to exercise server and iOS SDK - <a href="https://github.com/markcerqueira/hello-chuckpad">hello-chuckpad on GitHub</a></li>
  <li>Docker image for rendering ChucK patches - <a href="https://github.com/markcerqueira/chuck-renderer">chuck-renderer on GitHub</a> /
    <a href="http://chuck-renderer.4860ca31.svc.dockerapp.io:9000/debug">Demo</a></li>
</ul>
<br>
ChuckPad was developed by:
<ul style="margin-top:4px;">
  <li>Mark Cerqueira - architect and lead developer</li>
  <li>Spencer Salazar - product lead and MiniAudicle, Auraglyph integration</li>
  <li>Kirill Zhukov - Ruby code reviews and advising</li>
  <li>Tom Lieber - Ruby advising</li>

</ul>
</html>