<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
  <link rel="stylesheet" type="text/css" href="/chuckpad.css">
</head>

<body style="margin: 0px;">

<div style="background: #8ff444; padding: 1em;">
  <div>
    <h3>ChuckPad</h3>
    <h4>Bring ChucK code to life, share ChucK with others, discover ChucK gems!</h4>
  </div>
</div>
<br>

<div style="padding: 1.0em;">

<b><a href="/">ChuckPad</a></b>

enables users to create, curate, and share code from music programming environments.
The project's goal is to promote education, stoke enthusiasm, reduce barriers to entry, and aid in discovery of content in apps like
<a href="http://audicle.cs.princeton.edu/mini/">MiniAudicle</a> and
<a href="https://ccrma.stanford.edu/~spencer/auraglyph/">Auraglyph</a>.<br>
<br>
<img src="system-diagram.png"/>
<br>
ChuckPad's capabilities are best summarized by this <a href="https://github.com/markcerqueira/chuckpad-social-ios/blob/master/ChuckPadSocial.h">iOS header file</a>. The ChuckPad system consists of a:
<ul style="margin-top:4px; margin-bottom:0px;">
  <li><b>Sinatra/Ruby server</b> - <a href="https://github.com/markcerqueira/chuckpad-social">chuckpad-social on GitHub</a></li>
  <li><b>iOS SDK</b> - <a href="https://github.com/markcerqueira/chuckpad-social-ios">chuckpad-social-ios on GitHub</a></li>
  <li><b>Unit tests to exercise server and iOS SDK</b> - <a href="https://github.com/markcerqueira/hello-chuckpad">hello-chuckpad on GitHub</a></li>
  <li><b>Docker image for rendering ChucK patches</b> - <a href="https://github.com/markcerqueira/chuck-renderer">chuck-renderer on GitHub</a> /
    <a href="http://chuck-renderer.4860ca31.svc.dockerapp.io:9000/debug">Demo</a></li>
</ul>
<br>
ChuckPad was developed by:
<ul style="margin-top:4px;">
  <li><a href="http://www.mark.gg" target="_blank"><b>Mark Cerqueira</b></a> - architect and lead developer</li>
  <li><a href="http://www.spencersalazar.com" target="_blank"><b>Spencer Salazar</b></a> - product lead and MiniAudicle, Auraglyph integration</li>
  <li><a href="https://github.com/kirillzh" target="_blank"><b>Kirill Zhukov</b></a> - Ruby code reviews and Ruby advisory services</li>
  <li><a href="http://www.alltom.com" target="_blank"><b>Tom Lieber</b><a/> - Ruby advising</li>
  <li><a href="http://www.jihern.com" target="_blank"><b>Ji-hern Baek</b></a> - designer</li>
</ul>
</div>

</body>

</html>