<h3>Chuck Nation</h3>

<form action="/patch/create_patch" method="POST" enctype="multipart/form-data">
  Patch Name: <input type="text" name="patch[name]" value=""/><br>
  Featured: <input type="checkbox" name="patch[featured]" value="0"/><br>
  Documentation: <input type="checkbox" name="patch[documentation]" value="0"/><br>
  File to upload: <input type="file" name="patch[data]"><br>
  <br>
  <input type="submit" value="Create Patch">

</form>

<a href="patch/">Patches List</a>
