<html>
<body>
<strong>Reset your ChuckPad password</strong>
<p>Greetings <%= username %>! Click here to reset your password: <%= reset_link %></p>
This link expires in <%= expire_time %> minutes.
</body>
</html>