<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
  <link rel="stylesheet" type="text/css" href="/chuckpad.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body style="margin: 0px;">

<div style="background: #8ff444; padding: 1em;">
  <div>
    <h3>ChuckPad</h3>
    <h4>Bring ChucK code to life, share ChucK with others, discover ChucK gems!</h4>
  </div>
</div>
<br>

<h3>Password Reset</h3>

<% if @invalid_token %>
<b>This is not a valid password reset link. Please try again.</b>
<% elsif @invalid_after_finalize %>
<b>Your password reset link has expired. Please try again.</b>
<% elsif @change_password_complete %>
<b>Your password has been updated!</b>
<% else %>
    <form action="/user/password/finalize" method="POST">
      <table>
        <tbody>
        <tr>
          <td>New password:</td>
          <td><input type="text" name="new_password" value=""/></td>
        </tr>
        <td><input type="hidden" id="" name="user_id" value=<%= @user_id %>/></td>
        <td><input type="hidden" id="" name="token" value=<%= @token %>/></td>
        <tr>
          <td><input type="submit" value="Change Password"></td>
        </tr>
        </tbody>
      </table>
    </form>
<% end %>

</body>
</html>