<html>
<body>
<strong>Welcome to ChuckPad!</strong>
<p>Greetings <%= username %>! Click here to confirm your email address: <%= confirm_link %></p>
Happy Chucking from the ChuckPad team!
</body>
</html>